<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"
      integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/twilight.min.css"
      integrity="sha512-fr83REsfDCjQZd9xEbfb7QkUcDOTgH6/sCp+TWH70O9c8XojHM01yYXvn4GLNLFy57ygyN0K91jkm+6CkWtDGw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <%- include("_buttons.ejs", { id: locals.id, canDoActions: true }) %>
    <div class="wrapper">
      <div class="line-numbers">
        <% for (let i = 1; i <= code.split('\n').length; i++) { %>
        <div><%= i %></div>
        <% } %>
      </div>
      <pre><code 
        id="code-display" 
        class="<%= locals.language ? `language-${locals.language}` : '' %>"><%= code %></code></pre>
    </div>
  </body>
</html>
